.slide{
    
    width: 250px;
    display: flex;
    flex-direction: column;
    
    

}






    body {
        font-family: Arial, sans-serif;
        background-color: #121212;;
        color: white;
        margin: 0;
        padding: 0;
        display: flex; 
         height: 100vh;
      }




.menu{
        width: 250px;
        height: 300px;
    
        

        
    }


    .menu1{
        
        display: flex;
        flex-direction: row;
       gap: 22px;
       
    }
    
    .amenu1{
        padding-left: 10px;
        height: 30px;
        width: 30px;

    }

    .bmenu1{
        
        margin-top: 6px;

    }
.playlist{

    width: 250px;
    height: 250px;
    margin-top: 90px;
    padding-left: 10px;

}
.playlist1{
    
    height: 20px;

}


.download{
    
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.download-img{
    height: 30px;
    width: 30px;
}


.ab{
    margin-top: 7px;
}

.dream { font-size: 15px;}



.last-photo{
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: row;
    
    margin-top: 8px;
    gap: 10px;
}

.last-photo1{
    height: 30px;
    width: 30px;
}



.content{

    overflow-y: auto;
    flex-grow: 1;
    margin-top: 68px;
   
}


header {
    

}

header h2 {
    margin-bottom: 20px;
}


.playlist-row {
    display: flex;
    gap: 60px;
}




.playlist-box{
    display: flex;
    flex-direction: row;

height: 75px;
width: 350px;


}

.div2{
    height:75px;
    width: 75px;
}




.a1{
    background-color: gray;

    width: 180px;
   padding-left: 10px;
   padding-top: 8px;
}

.logo{
    height: 60px;
    width: 150px;
   justify-content: center;
}

#logo1{
    padding-left: 30px;
    padding-top: 20px;
    
}


.show{
    height: 350px;

}


.show-heading{

    display: flex;
    gap: 1000px;
}




.like {

   font-size: 15px;

}

.show-content{ 
    height: 260px;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.show-content-box{
    height: 180px;
    width: 160px;

}


.bar{
    height: 100px;
    padding-left: 160px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    gap: 210px;
}


.bar1{
    height: 65px;
   
    width: 600px;
}



.foot1{
    width: 337px;
    height: 40px;

}

.install-img {
    width: 40px;
}

/*.top-side {
    display: flex;
    flex-wrap: wrap;
    width: 50px
}*/

.arrow img {
    width: 100px;
    justify-content: center;
    align-items: center;
}
